#header {
  padding-top: 50px;
}

#iconeBalanca {
  text-align: center;
  margin: auto;
  width: 50%;
  opacity: 50%;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
