<header id="header">

</header>

<div class="container" id="body-calc">
  <form class="form" [formGroup]="formulario">
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Remuneração Atual</h5>
            <div class="mb-3">
              <label for="salarioAtual" class="form-label">Salário</label>
              <input type="text" class="form-control col-12" formControlName="salarioAtual" id="salarioAtual" autofocus
                placeholder="Salário atual">
            </div>
            <div class="mb-3">
              <label for="valeRefeicaoAtual" class="form-label">Vale Refeição</label>
              <input type="text" class="form-control col-12" formControlName="valeRefeicaoAtual" id="valeRefeicaoAtual">
            </div>
            <div class="mb-3">
              <label for="valeAlimentacaoAtual" class="form-label">Vale Alimentação</label>
              <input type="text" class="form-control col-12" formControlName="valeAlimentacaoAtual"
                id="valeAlimentacaoAtual">
            </div>
            <div class="mb-3">
              <label for="qntDependente" class="form-label">Número de Dependentes</label>
              <input type="text" class="form-control col-12" formControlName="qntDependenteAtual" id="qntDependente">
            </div>
            <div class="mb-3">
              <label for="outrasDespesas" class="form-label">Outras Despesas</label> <span
                ngbTooltip="Pensão Alimenticia, etc...">
                tooltip</span>
              <input type="text" class="form-control col-12" formControlName="outrasDespesasAtual" id="outrasDespesas">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm" id="iconeBalanca">
        <fa-icon class="fa-2x" [icon]="iconCenter"></fa-icon>
      </div>
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Remuneração Futura</h5>
            <div class="mb-3">
              <label for="salarioFuturo" class="form-label">Salário</label>
              <input type="text" class="form-control col-12" formControlName="salarioFuturo" id="salarioFuturo"
                placeholder="Salário futuro">
            </div>
            <div class="mb-3">
              <label for="valeRefeicaoFuturo" class="form-label">Vale Refeição</label>
              <input type="text" class="form-control col-12" formControlName="valeRefeicaoFuturo"
                id="valeRefeicaoFuturo">
            </div>
            <div class="mb-3">
              <label for="valeAlimentacaoFuturo" class="form-label">Vale Alimentação</label>
              <input type="text" class="form-control col-12" formControlName="valeAlimentacaoFuturo"
                id="valeAlimentacaoFuturo">
            </div>
            <div class="mb-3">
              <label for="qntDependente" class="form-label">Número de Dependentes</label>
              <input type="text" class="form-control col-12" formControlName="qntDependenteFuturo" id="qntDependente">
            </div>
            <div class="mb-3">
              <label for="outrasDespesas" class="form-label">Outras Despesas</label> <span
                ngbTooltip="Pensão Alimenticia, etc...">
                tooltip</span>
              <input type="text" class="form-control col-12" formControlName="outrasDespesasFuturo" id="outrasDespesas">
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <button class="btn btnLimpar" type="reset" (click)="reset()">
      <fa-icon class="fa" [icon]="iconTrash"></fa-icon>
      Limpar
    </button>

    <button class="btn btnCalcular" (click)="calcular()">
      <fa-icon class="fa" [icon]="iconCalculator"></fa-icon>
      Calcular
    </button>
  </form>
  <br>
  <table class="table table-hover" *ngIf="exibeTabela">
    <thead>
      <tr>
        <th scope="col">Salário Atual</th>
        <th scope="col">Remuneração Total</th>
        <th scope="col">Alíquota INSS</th>
        <th scope="col">Alíquota IRRF</th>
        <th scope="col">Parcela Dedutível</th>
        <th scope="col">Desconto INSS</th>
        <th scope="col">Desconto IRRF</th>
        <th scope="col">Desconto Dependentes</th>
        <th scope="col">Outras Despesas</th>
        <th scope="col">Salário Líquido Final</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td title="Salário Bruto sem descontos">{{remuneracaoAtual.salarioAtual | currency}}</td>
        <td title="Somatório do salário e todos os benefícios">{{remuneracaoTotalAtual | currency}}</td>
        <td>{{aliquotaINSSAtual | percent:'1.2-5'}}</td>
        <td>{{aliquotaIRRFAtual | percent:'1.2-5'}}</td>
        <td>{{parcelaDeduivelAtual | currency}}</td>
        <td>{{descontoINSSAtual | currency}}</td>
        <td>{{descontoIRRFAtual | currency}}</td>
        <td>{{valorDependenteAtual | currency}}</td>
        <td>{{remuneracaoAtual.outrasDespesasAtual | currency}}</td>
        <td>{{salarioLiquidoFinalAtual | currency}}</td>
      </tr>
    </tbody>
  </table>
</div>

<footer id="fundo">
  <div class="container">
    <label class="titulo-fundo">Entenda melhor os descontos em folha</label>
  </div>
</footer>
