#header {
  padding-top: 50px;
}

#iconeBalanca {
  text-align: center;
  margin: auto;
  width: 50%;
  opacity: 100%;
}

.btnCalcular {
  border-radius: 0.25rem !important;
  background-color: #625be6;
  color: #ffffff;
  font-family: Mina;
  font-style: normal;
  font-weight: bold;
}

.btnLimpar {
  border-radius: 0.25rem !important;
  border-color: #625be6;
  color: #625be6;
  font-family: Mina;
  font-style: normal;
  font-weight: bold;
  margin-right: 5px;
}
